### CLT

In [ ]:
1 salario = 1200
2 gasolina = 200
3 internet = 200
4 alimentos = 1500
5 agua = 100
6 luz = 300
7 condominio = 570
8 entreterimento = 1200
9
10 quanto_sobra =